- if can? :create, Assignment
	%h1 This will be the checkbox form for admins to add locations and cohorts
	- @assignments.each do |a|
		= a.assignment_name

- if cannot? :create, Assignment
	%h1 This will be the radio button form for normal student users to add locations and cohorts
	- @assignments.each do |a|
		= a.assignment_name